<a href="https://colab.research.google.com/github/RainaVardhan/project_voting/blob/main/demographic_data_cleaned.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
! git clone https://github.com/DS3001/project_voting.git

fatal: destination path 'project_voting' already exists and is not an empty directory.

In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/project_voting/data/county_data/0002_ds250_20205_county_M.csv', encoding='ISO-8859-1') #asked chat how to fix encoding error
df.head()

,GISJOIN,YEAR,STUSAB,REGIONA,DIVISIONA,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,...,AM8FM031,AM8FM032,AM8FM033,AM8FM034,AM8FM035,AM8FM036,AM8FM037,AM8FM038,AM8FM039,AM9SM001
0,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,County Subdivision Code,...,Female: 35 to 64 years,Female: 35 to 64 years: With a disability,Female: 35 to 64 years: No disability,Female: 65 to 74 years,Female: 65 to 74 years: With a disability,Female: 65 to 74 years: No disability,Female: 75 years and over,Female: 75 years and over: With a disability,Female: 75 years and over: No disability,Gini Index
1,G0100010,2016-2020,AL,NaN,NaN,Alabama,01,Autauga County,001,NaN,...,165,347,373,84,164,140,130,184,178,0.0326
2,G0100030,2016-2020,AL,NaN,NaN,Alabama,01,Baldwin County,003,NaN,...,178,625,604,113,443,448,154,475,436,0.0119
3,G0100050,2016-2020,AL,NaN,NaN,Alabama,01,Barbour County,005,NaN,...,89,154,182,2,87,87,41,99,99,0.0252
4,G0100070,2016-2020,AL,NaN,NaN,Alabama,01,Bibb County,007,NaN,...,127,172,198,125,144,159,149,160,147,0.0408

In [12]:
df.columns

Index(['GISJOIN', 'YEAR', 'STUSAB', 'REGIONA', 'DIVISIONA', 'STATE', 'STATEA',
       'COUNTY', 'COUNTYA', 'COUSUBA',
       ...
       'AM8FM031', 'AM8FM032', 'AM8FM033', 'AM8FM034', 'AM8FM035', 'AM8FM036',
       'AM8FM037', 'AM8FM038', 'AM8FM039', 'AM9SM001'],
      dtype='object', length=161)

In [16]:
df['U.S. citizen: Born in the US'] = df['AM0KM002']
df['U.S. citizen: Born abroad'] = df['AM0KM004']
df['U.S. citizen: Naturalized'] = df['AM0KM005']
df['Male'] = df['AM8FM002']
df['Female'] = df['AM8FM021']
df['18 to 30 years'] = df['AM8FM009']+df['AM8FM028']
df['35 to 64 years'] = df['AM8FM012']+df['AM8FM031']
df['65 to 74 years'] = df['AM8FM015']+df['AM8FM034']
df['75 years and over'] = df['AM8FM018']+df['AM8FM037']

In [18]:
vars_to_keep = ['U.S. citizen: Born in the US', 'U.S. citizen: Born abroad', 'U.S. citizen: Naturalized', 'Male', 'Female', '18 to 30 years', '35 to 64 years', '65 to 74 years', '75 years and over']
county_data = df[vars_to_keep]
county_data = county_data.drop(df.index[0])
county_data.head()

,U.S. citizen: Born in the US,U.S. citizen: Born abroad,U.S. citizen: Naturalized,Male,Female,18 to 30 years,35 to 64 years,65 to 74 years,75 years and over
1,334,188,228,250,244,187141,227165,1384,15130
2,906,374,671,403,323,255172,337178,97113,163154
3,112,53,95,231,124,18271,18189,872,3641
4,162,78,94,257,197,24688,256127,62125,36149
5,293,91,267,197,179,148106,15796,8442,3395

In [20]:
county_data.isna().sum()

U.S. citizen: Born in the US    78
U.S. citizen: Born abroad       78
U.S. citizen: Naturalized       78
Male                             0
Female                           0
18 to 30 years                   0
35 to 64 years                   0
65 to 74 years                   0
75 years and over                0
dtype: int64

In [22]:
county_data = county_data.dropna()
county_data.isna().sum()

U.S. citizen: Born in the US    0
U.S. citizen: Born abroad       0
U.S. citizen: Naturalized       0
Male                            0
Female                          0
18 to 30 years                  0
35 to 64 years                  0
65 to 74 years                  0
75 years and over               0
dtype: int64

In [25]:
print(county_data.head())
print(county_data.shape)

  U.S. citizen: Born in the US U.S. citizen: Born abroad  \
1                          334                       188
2                          906                       374
3                          112                        53
4                          162                        78
5                          293                        91

  U.S. citizen: Naturalized Male Female 18 to 30 years 35 to 64 years  \
1                       228  250    244         187141         227165
2                       671  403    323         255172         337178
3                        95  231    124          18271          18189
4                        94  257    197          24688         256127
5                       267  197    179         148106          15796

  65 to 74 years 75 years and over
1           1384             15130
2          97113            163154
3            872              3641
4          62125             36149
5           8442              3395
(3143, 9)