<a href="https://colab.research.google.com/github/RainaVardhan/project_voting/blob/main/model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
! git clone https://github.com/DS3001/project_voting.git

Cloning into 'project_voting'...
remote: Enumerating objects: 70, done.
remote: Counting objects: 100% (8/8), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 70 (delta 5), reused 3 (delta 3), pack-reused 62
Receiving objects: 100% (70/70), 31.37 MiB | 13.01 MiB/s, done.
Resolving deltas: 100% (29/29), done.

In [7]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/project_voting/data/county_data/0002_ds250_20205_county_M.csv', encoding='ISO-8859-1') #asked chat how to fix encoding error
df['U.S. citizen: Born in the US'] = df['AM0KM002']
df['U.S. citizen: Born abroad'] = df['AM0KM004']
df['U.S. citizen: Naturalized'] = df['AM0KM005']
df['Male'] = df['AM8FM002']
df['Female'] = df['AM8FM021']
df['18 to 30 years'] = df['AM8FM009']+df['AM8FM028']
df['35 to 64 years'] = df['AM8FM012']+df['AM8FM031']
df['65 to 74 years'] = df['AM8FM015']+df['AM8FM034']
df['75 years and over'] = df['AM8FM018']+df['AM8FM037']

vars_to_keep = ['U.S. citizen: Born in the US', 'U.S. citizen: Born abroad', 'U.S. citizen: Naturalized', 'Male', 'Female', '18 to 30 years', '35 to 64 years', '65 to 74 years', '75 years and over']
county_data = df[vars_to_keep]
county_data = county_data.drop(df.index[0])
county_data.head()

county_data.isna().sum()
county_data = county_data.dropna()
county_data.isna().sum()
print(county_data.head())

  U.S. citizen: Born in the US U.S. citizen: Born abroad  \
1                          334                       188
2                          906                       374
3                          112                        53
4                          162                        78
5                          293                        91

  U.S. citizen: Naturalized Male Female 18 to 30 years 35 to 64 years  \
1                       228  250    244         187141         227165
2                       671  403    323         255172         337178
3                        95  231    124          18271          18189
4                        94  257    197          24688         256127
5                       267  197    179         148106          15796

  65 to 74 years 75 years and over
1           1384             15130
2          97113            163154
3            872              3641
4          62125             36149
5           8442              3395